#E_carousel{
    width:100%;
    height:360px;
    img{
        width:100%;
    }
}
#E_activity{
    margin:50px 0;
    .E_activity_l{
        width:328px;
        height:420px;
        background:url('../img/everydayBg.png');
    }
}
#E_main{
    .E_mainl{
        float:left;
        width:330px;
        h3{
            line-height:34px;
            font-size:20px;

        }
        .f_main{
            padding-top:294px;
            background-image:url('../img/main1.jpg');
            .f_main_b{
                height:170px;
                background:rgba(255,255,255,0.6);
                p{
                    text-align:center;
                    font-size:14px;
                    font-weight:600px;
                    line-height:40px;
                    span:first-child{
                        position:relative;
                        padding-right:30px;
                        i{
                            display:inline-block;
                            width:40px;
                            height:40px;
                            position:absolute;
                            top:-20px;
                        }
                    }
                }
                ul{
                    padding-top:10px;
                    li{
                        float:left;
                        background:#fff;
                        width:90px;
                        line-height:24px;
                        border-radius:5px;
                        text-align:center;
                        margin:5px 10px;
                    }
                }
            }
        }
    }
    .E_mainr{
        float:right;
        header{
            // width:100%;
            //float:right;
            line-height:30px;
            margin-left:380px;
            border:1px solid #ccc;
            div{
                float:left;
                line-height:34px;
                a{
                    padding:0 20px;
                    font-size:14px;
                    border-right:1px solid #ccc;
                }
                &:last-child{
                    a{
                        border:0;
                    }
                }

            }
        }
        .content{
            width:840px;
            // height:300px;
            border:1px solid red;
            .content_t{
                position:relative; 
                // height:298px;
                .content_t_l{
                    float:left;
                    width:45%;
                    border-right:1px solid #ccc;
                } 
                .content_t_r{
                    float:left;
                    width:55%;
                    .content_t_r_1{
                        position:relative;
                        &:first-child{
                            border-bottom:1px solid #ccc;
                        }
                    }
                } 

                a{
                    .content_t_lc{
                        position:absolute;
                        top:40px;
                         padding-left:20px;
                        p{
                            font-size:14px;
                            line-height:30px;
                            &:last-child{
                                color:red;
                            }
                        }
                    }
                    img{
                        width:100%;
                    }
                }
            }
            .content_b{
                ul{
                    li{
                        position:relative;
                        float:left;
                        width:33.3%;
                        border-right:1px solid #ccc;
                        &:last-child{
                            border:0;
                        }
                        img{
                            width:100%;
                        }
                        .content_t_lc{
                                position:absolute;
                                top:40px;
                                 padding-left:20px;
                                p{
                                    font-size:14px;
                                    line-height:30px;
                                    &:last-child{
                                        color:red;
                                    }
                                }
                        }
                    }
                }
            }
            >div>ul{
                float:left;
                li{
                    width:25%;
                    height:230px;
                    padding:20px 5px;
                    border-right:1px solid #ccc;
                    border-bottom:1px solid #ccc;
                    float:left;
                    text-align:center;
                    img{
                        width:70%;
                    }
                    p{
                        text-align:left;
                        &:last-child{
                            padding-top:10px;
                            font-size:14px;
                            color:red;
                        }
                    }
                }
            }
        }
    }
    .E_mainb{
        border-top:1px solid #ccc;
        margin-bottom:40px;
        li{
            float:left;
            width:12.5%;
            border-right:1px solid #ccc;
            border-bottom:1px solid #ccc;
            text-align:center;
            padding:8px 0;
            &:first-child{
                border-left:1px solid #ccc;
            }
        }
    }
}