#E_carousel{
    width:100%;
    height:360px;
    img{
        width:100%;
    }
}
#E_activity{
    margin:50px 0;
    .E_activity_l{
        width:328px;
        height:420px;
        background:url('../img/everydayBg.png');
    }
}
#E_main{

    .E_mainl{
        width:330px;
        height:477px;
        padding-top:340px;
        background:url('../img/main1.jpg');
        .f_main{

            p{
                text-align:center;
                font-size:14px;
                font-weight:600px;
                line-height:40px;
                span:first-child{
                    position:relative;
                    padding-right:30px;
                    i{
                        display:inline-block;
                        width:40px;
                        height:40px;
                        position:absolute;
                        top:-20px;
                    }
                }
            }
        }
    }
}